{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% block content %}
    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    {% for item in category.items.all %}
                        <div class="col-sm-4 col-lg-4 col-md-4">
                            <div class="thumbnail">
                                <img src="{{ item.image.url }}" alt="">

                                <div class="caption">
                                    <h4 class="pull-right">${{ item.price }}</h4>
                                    <h4><a href="#">{{ item.title }}</a>
                                    </h4>

                                    <p>{{ item.description }}</p>
                                    <a href="{% url 'item_detail' category.slug item.slug %}">Подробнее</a>
                                </div>
                                {#                            <div class="ratings">#}
                                {#                                <p class="pull-right">15 reviews</p>#}
                                {#                                <p>#}
                                {#                                    <span class="glyphicon glyphicon-star"></span>#}
                                {#                                    <span class="glyphicon glyphicon-star"></span>#}
                                {#                                    <span class="glyphicon glyphicon-star"></span>#}
                                {#                                    <span class="glyphicon glyphicon-star"></span>#}
                                {#                                    <span class="glyphicon glyphicon-star"></span>#}
                                {#                                </p>#}
                                {#                            </div>#}
                            </div>
                        </div>
                    {% endfor %}

                </div>

            </div>

        </div>

    </div>
    <!-- /.container -->
{% endblock %}