{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <title>Главная страница</title>
{% endblock %}
{% block content %}
    <div class="col-md-3">
        <p class="lead">Shop Name</p>

        <div class="list-group">
            {% for category in categories %}
                <a href="{% url 'category' category.slug %}" class="list-group-item">{{ category.name }}</a>
            {% endfor %}
        </div>
    </div>
    <div class="row carousel-holder">

        <div class="col-md-12">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    {% for slide in slides %}
                        <li data-target="#carousel-example-generic" data-slide-to="{{ slide.id|add:"-1" }}" class=""></li>
                    {% endfor %}
                </ol>
                <div class="carousel-inner">
                    {% for slide in slides %}
                        <div class="item">
                            <img class="slide-image" src="{{ slide.image.url }}" alt="">
                        </div>
                    {% endfor %}
                </div>
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>

    </div>
{% endblock %}
{% block js %}
<script>
    $(document).ready(function () {
        $(".carousel-indicators li:first").addClass("active");
        $('.carousel-inner div:first').addClass("active");
    })
</script>
{% endblock %}